/* universal */

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 1.4rem;
}

div {
  display: block;
}

span {
  background-color: black;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* COMPANY HEADER */

.company {
  background-color: black;
  color: white;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

.company .container {
  display: flex;
  padding: 12px 0px 12px 0.5rem;
  align-items: center;
}
/* Main  */

.main-title {
  background-image: url(images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h4 {
  display: block;
}

h1 {
  display: block;
}

.headline h1 {
  font-size: 2em;
  margin: 0.25em 0;
  line-height: 1.2em;

}

h1,
h4 {
  font-weight: bold;
}

/* NAVIGATION */

nav {
background-color: firebrick;
}

li {

}

/* PRODUCTS */

.products {

}

.product-image {

}

  .product-pen {

  }

  .product-watch {

  }

  .product-glasses {

  }

/* CONTACT */

.contact {

}

.info {

}

.title {

}

/* FOOTER */

footer {
  background-color: black;
}
